/* 폰트 */
@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 400;
	src:
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff')
		format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 700;
	src:
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff')
		format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 300;
	src:
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff')
		format('woff');
}

.lottemartdream * {
	font-family: 'LotteMartDream', sans-serif;
}

html>body {
	font-family: 'LotteMartDream', sans-serif;
}

/* 테마 */
.btn-theme-toggle>span:first-child {
	display: none;
}

html[data-theme="dark"] .btn-theme-toggle>span:first-child {
	display: inline;
}

html[data-theme="dark"] .btn-theme-toggle>span:last-child {
	display: none;
}

/* 라이브러리 */

/* 커스텀 */
header>div>ul>li {
	margin-right: 30px;
}

/* .login-box>tbody>tr>td>input { */
/* 	padding-left: 10px; */
/* } */

/* .login-box>tbody>tr:nth-child(3)>td>input { */
/* 	padding-left: 0; */
/* } */

/* .join-box>tbody>tr:nth-child(7)>td>input { */
/* 	padding-left: 0; */
/* } */

/* .modify-box>tbody>tr:nth-child(5)>td>input, .modify-box>tbody>tr:nth-child(6)>td>input, */
/* 	.modify-box>tbody>tr:nth-child(7)>td>input { */
/* } */
.table-box-1 th, .table-box-1 td {
	border: 1px solid black;
	padding: 10px;
	text-align: center;
}

/* 기본 네비게이션 2차 메뉴 스타일 */
header>div>ul>li>ul {
    display: none;
    position: absolute;
}

/* 밝은 테마에서의 네비게이션 2차 메뉴 배경색 */
html[data-theme='light'] header>div>ul>li>ul {
    background-color: white; /* 또는 밝은 테마에 적합한 다른 색상 */
}

/* 어두운 테마에서의 네비게이션 2차 메뉴 배경색 */
html[data-theme='dark'] header>div>ul>li>ul {
    background-color: #333333; /* 또는 어두운 테마에 적합한 다른 색상 */
}

/* 네비게이션 2차 메뉴 호버 스타일 */
header>div>ul>li:hover>ul {
    display: block;
}

html[data-theme='light'] .toast-ui-editor {
    background-color: white; /* 또는 밝은 테마에 적합한 다른 색상 */
}

html[data-theme='dark'] .toast-ui-editor {
    background-color: #333333; /* 또는 어두운 테마에 적합한 다른 색상 */
}